{{ define "index" -}}
    <!DOCTYPE html>
    <html lang="en">
    <body>
    <h1>GoPypi package index</h1>
    {{ range $value := . }}
        <p>
            <a href="/simple/{{ .Normalize }}/">{{ . }}</a>
        </p>
    {{ end }}
    </body>
    </html>
{{ end }}