{{ define "package" -}}
<!DOCTYPE html>
<html lang="en">
    <body>
        <h1>{{ .Name }}</h1>
        {{ range .PackageFiles }}
            <p>
                <a href="{{ .SignedURL }}">{{ .Name }}</a>
            </p>
        {{ end }}
    </body>
</html>
{{ end }}