{{ define "project-packages" -}}
    <!DOCTYPE html>
    <html lang="en">
    <body>
    {{ range $value := . }}
        <p>
            <a href="{{ .URI }}">{{ .Filename }}</a>
        </p>
    {{ end }}
    </body>
    </html>
{{ end }}